<div id ="body">
    <div id="img1"><img src="../../../assets/Jeff.jpg" height = "200" width = "300" alt=""></div>
    <div id="img2"><img src="../../../assets/Marissa.jpg" height = "200" width = "300" alt=""></div>
    <div id="img3"><img src="../../../assets/Mark.jpg" height = "505" width = "600" alt=""></div>
    <div id="img4"><img src="../../../assets/satya.jpg" height = "300" width = "600" alt=""></div>
    <div id="img5"><img src="../../../assets/sundhar.jpg" height = "300" width = "600" alt=""></div>
    <div id="img6"><img src="../../../assets/Tim.jpg" height = "300" width = "600" alt=""></div> 
</div>